<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body bgcolor="lightgreen">
    <center>
    <h1>Ask me About India!!!</h1>
    
    <input type = "text" id="inputText" placeholder="Enter the First Word">
    <input type = "text" id ="numWords" placeholder = "Enter the Number of Words to Generate">
    <button id ="predict">predict</button>
    <p id = "predictionResults"></p>
    <script>
        $(document).ready(function () {
            $('#predict').click(function () {

                var inputText = $("#inputText").val();
                var numWords = $("#numWords").val();
                console.log(inputText)
                console.log(numWords)
                $.ajax({
                    type:"POST",
                    url:"/predict",
                    data:{input_text:inputText,num_words:numWords},
                    success: function(response){
                        $("#predictionResults").text("Predicted words :"+response.generated_text);
                    }
                })
            })
        })
    </script>
    </center> 
</body>
</html>